APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=aurora
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

NORTHSTAR_URL=http://northstar.dev
NORTHSTAR_CLIENT_ID=oauth-test-client
NORTHSTAR_CLIENT_SECRET=secret1

DRUPAL_URL=https://dev.dosomething.org:8888
GLADIATOR_URL=https://gladiator.dev:8000

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
