/* Users Table */
.table {
 margin: 0 0 40px 0;
 width: 100%;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
 display: table;
}
@media screen and (max-width: 580px) {
 .table {
   display: block;
 }
}

.table-row {
 display: table-row;
 background: white;
}
.table-row:nth-of-type(odd) {
 background: #ddd;
}
.table-header {
 font-weight: 900;
 color: #ffffff ;
 background: #4e2b63 ;
}
@media screen and (max-width: 580px) {
 .row {
   padding: 8px 0;
   display: block;
 }
}
.table-cell {
 padding: 6px 12px;
 display: table-cell;
}
@media screen and (max-width: 580px) {
 .cell {
   padding: 2px 12px;
   display: block;
 }
}
#user-table{
	width: 100%;
	text-align: center;
	margin-top: 1%
}

/* pagination buttson */
#pagination-buttons {
  text-align: center;
}

.assign-role-header {
  font-weight: 900;
  color: #ffffff ;
  background: red ;
  padding: 9px 10px 10px;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
}

.assign-role-container{
  border: 1px solid black;
  line-height: 200%;
  border-radius: 0 0 5px 5px;
}

.profile-settings dt{
  float: left;
  clear: both;
  font-weight: 700;
  padding-right: 12px;
}

.profile-settings dd{
  float: left;
}

.mobile-commons-message {
  border-radius: 2px;
  float: right;
  width: 100%;
  position: relative;
  margin: 12px 0;
  padding-left: 1%;
  padding-right: 1%;
}

.mobile-commons-message.is-sent {
  color: white;
  background: #2095FE;
  border-color: #2095FE;
}

.mobile-commons-message.is-received {
  color: #999;
  background: #c7fcc7;
  border-color: #c7fcc7;
}

.mobile-commons-message.is-failed {
  color: black;
  background: #ea5656;
  border-color: #ea5656;
}

.results {
  background: #ddd;
  border: 2px solid #23b7fb;
}
.results.first-result {
  border: 10px solid #23b7fb;
  border-radius: 4px;
}

.results.first-result:before {
  font-size: 20px;
  font-weight: bold;
  content: "This appears to be the most recent user!";
}

.zendesk-ticket {
  border-radius: 2px;
  float: right;
  width: 100%;
  position: relative;
  margin: 12px 0;
  padding-left: 1%;
  padding-right: 1%;
}

.zendesk-ticket.is-closed {
  color: #999;
  background: #c7fcc7;
  border-color: #c7fcc7;
}

.zendesk-ticket.is-pending {
  color: white;
  background: #2095FE;
  border-color: #2095FE;
}

.zendesk-ticket.is-open {
  color: black;
  background: #ea5656;
  border-color: #ea5656;
}
