/**
 * Overrides and custom styles for Aurora.
 * Built on Neue 6.4.9.
 */


/**
 * Pre-formatted text for code examples. Used
 * for displaying API key request headers.
 */
pre {
  font-family: "Menlo", "Consolas", "Courier New", serif;
  font-size: 0.8em;
  background: #efefef;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 24px;
  margin: 12px 0;
}

/**
 * Button: danger modifier
 */
.button.-danger, .button.-danger:hover {
  background: #ff4747;
}

/**
 * Table
 */
.table {
  display: table;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  border-collapse: separate; /* needed to display border radius on table */
}

@media screen and (max-width: 580px) {
 .table {
   display: block;
 }
}

.table-header {
  background: #ffffff ;
  color: #4e2b63 ;
  font-weight: 700;
  text-align: left;
}

.table-row {
 display: table-row;
 background: white;
}

.table-row:nth-of-type(odd) {
 background: #efefef;
}

@media screen and (max-width: 580px) {
 .row {
   padding: 8px 0;
   display: block;
 }
}

.table-cell {
 padding: 6px 12px;
 display: table-cell;
}

@media screen and (max-width: 580px) {
 .cell {
   padding: 2px 12px;
   display: block;
 }
}

/**
 * Waypoints: pagination modifier
 */
.waypoints.-pagination {
  text-align: center;
  background: #fff;
}

/**
 * Danger Zone container
 */
.danger-zone {
  background: #ffffff;
  padding: 12px;
  border: 2px solid rgba(255, 71, 71, 0.5);
  border-radius: 6px;
}

.danger-zone__heading {
  color: #ff4747;
  margin-bottom: 12px;
}

/**
 * Profiles
 */
.profile-settings dt{
  float: left;
  clear: both;
  font-weight: 700;
  padding-right: 12px;
}

.profile-settings dd{
  float: left;
}

/* mobile commons */
.mobile-commons-message {
  border-radius: 2px;
  float: right;
  width: 100%;
  position: relative;
  margin: 12px 0;
  padding-left: 1%;
  padding-right: 1%;
}

.mobile-commons-message.is-sent {
  color: white;
  background: #2095FE;
  border-color: #2095FE;
}

.mobile-commons-message.is-received {
  color: #999;
  background: #c7fcc7;
  border-color: #c7fcc7;
}

.mobile-commons-message.is-failed {
  color: black;
  background: #ea5656;
  border-color: #ea5656;
}

/* merge user */
.results {
  background: #ddd;
  border: 2px solid #23b7fb;
}
.results.first-result {
  border: 10px solid #23b7fb;
  border-radius: 4px;
}

.results.first-result:before {
  font-size: 20px;
  font-weight: bold;
  content: "This appears to be the most recent user!";
}

/* Zendesk */
.zendesk-ticket {
  border-radius: 2px;
  float: right;
  width: 100%;
  position: relative;
  margin: 12px 0;
  padding-left: 1%;
  padding-right: 1%;
}

.zendesk-ticket.is-closed {
  color: #999;
  background: #c7fcc7;
  border-color: #c7fcc7;
}

.zendesk-ticket.is-pending {
  color: white;
  background: #2095FE;
  border-color: #2095FE;
}

.zendesk-ticket.is-open {
  color: black;
  background: #ea5656;
  border-color: #ea5656;
}

/* advanced search container */
#advanced-search-container {
  display: none;
}
