/* Users Table */
.table {
 margin: 0 0 40px 0;
 width: 100%;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
 display: table;
}
@media screen and (max-width: 580px) {
 .table {
   display: block;
 }
}

.table-row {
 display: table-row;
 background: white;
}
.table-row:nth-of-type(odd) {
 background: #ddd;
}
.table-header {
 font-weight: 900;
 color: #ffffff ;
 background: #4e2b63 ;
}
@media screen and (max-width: 580px) {
 .row {
   padding: 8px 0;
   display: block;
 }
}
.table-cell {
 padding: 6px 12px;
 display: table-cell;
}
@media screen and (max-width: 580px) {
 .cell {
   padding: 2px 12px;
   display: block;
 }
}
#user-table{
	width: 100%;
	text-align: center;
	margin-top: 1%
}
/* pagination buttson */
.pagination-buttons {
	display:inline;
}
